html, body {
margin: 0;
padding: 0;
height: 100%;
text-align: center;
background-color: #4b4b4b
}

section {
  min-height: 100%;
  background-color: #4b4b4b
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,h2,h3,h4,a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  padding-top: 8%;
  margin-bottom: 5px;
}

h2 {
  font-size: 32px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

#logo, li{
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}

hr {
  width: 360px;
  height: 3px;
  background: #FFFFFF;
  border: 0;
  margin: 0, auto, 40px, auto;
}

header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: #2e2e2e;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo {
  width: 48px;
  float: left;
  margin: 8px 0 0 50px;

}

#logo:hover {
  opacity: 0.5;
}

#logo img {
  width: 100%;
}

header nav {
  float: right;
  margin: 8px 0 0 50px;
}

header nav ul li {
  float: left;
  margin-right: 25px;
}

header nav ul li a {
  font-size: 16px;
}

header nav ul li:hover {
  padding-top: 5px;
}

/*HOME*/
#home {
  background: url(https://i.ibb.co/yfLdzY3/landing.gif);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home h1 {
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#home h2 {
  margin: 0 auto 0 auto;
  font-size: 25px;
}

#about h1 {
  margin: 0 auto 0 auto;
  font-size: 30px;
}

#about h2 {
  font-size: 20px;
}

#about p {
  font-size: 15px;
  width: 700px;
  margin: 0 auto 0 auto;
}

#first {
  height: 140px;
}
#second {
  height: 140px;
}
#last {
  width: 640px;
}

footer {
  width: 100%;
  height: 65px;
  bottom: 0;
  right: 0;
  background: #2e2e2e;
}

footer p {
  padding-top: 25px;
}