html, body {
margin: 0;
padding: 0;
height: 100%;
text-align: center;
background-color: #000000
}

section {
  min-height: 100%;
  background-color: #000000
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,h2,h3,h4,a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
}

h3 {
  font-size: 40px;
  padding-top: 8%;
  margin-bottom: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

hr {
  width: 360px;
  height: 3px;
  background: #FFFFFF;
  border: 0;
  margin: 0, auto, 40px, auto;
}
